@import url("https://fonts.googleapis.com/css?family=Rubik");
.App {
  text-align: center; }

body {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  border: 6px solid #6400f0; }

button {
  margin: 10px; }

.App-header {
  background: #6400f0;
  height: 80px;
  padding: 20px; }
  .App-header h1 {
    width: 100%;
    color: white;
    letter-spacing: .08929em;
    color: white;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
