
@import "./sasstyles/mixins";
@import url('https://fonts.googleapis.com/css?family=Rubik');
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

button {
  margin: 10px;
}

//NESTING STYLES
.App-header {
    @include banner;
  }


