
@import "./sasstyles/mixins";
@import url('https://fonts.googleapis.com/css?family=Rubik');
.App {
  text-align: center;
}
body{
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  border: 6px solid $purple;
}

button {
  margin: 10px;
}

//NESTING STYLES
.App-header {
    @include banner;
  }


